body {
    margin: 0;
}
.headerWrapper {
    position: relative;
    z-index: 5;
    /*background-color: white;*/
}

.Header {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: white;*/
    padding: 10px 20px;
}

.headerList {
    display: flex;
    width: 30%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

p {
    margin: 0
}

p:hover {
    cursor: pointer;
}

.genresWrapper {
    width: 100%;

    position: absolute;
    top: -500px;

    transition: top 0.5s;
    z-index: 1;
}

.genresWrapper.show {
    top: 60px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px
}

.logo.logo{
    width: 50px;
    filter: grayscale(0%);
}

.theme {
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme:hover {
    cursor: pointer;
}

.theme svg {
    transition: all 0.5s;
}

.theme:hover svg {
    height: 1.2em;
    width: 1.2em;
}
